#site-header {
    background-color: var(--white);
    min-height: 80px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#site-title {
    font-size: 3em;
    font-weight: 600;
}

#header-img{
    border: 3px solid var(--black);
    border-radius: 50%;
    padding: 5px;
    background-color: var(--blue);
}
#header-img:hover{
    background-color: var(--red);
    cursor: pointer;
}